<div id="<%= dom_id file_attachment %>">
  <p>
    <strong>Task:</strong>
    <%= file_attachment.task_id %>
  </p>

  <p>
    <strong>File name:</strong>
    <%= file_attachment.file_name %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= file_attachment.file_path %>
  </p>

</div>
