<div id="<%= dom_id time_tracking %>">
  <p>
    <strong>Task:</strong>
    <%= time_tracking.task_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= time_tracking.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= time_tracking.end_time %>
  </p>

</div>
