<div id="<%= dom_id team_membership %>">
  <p>
    <strong>Team:</strong>
    <%= team_membership.team_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= team_membership.account_id %>
  </p>

</div>
